<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body class="bg-light">
<div th:replace="shared/header"></div>
<div class="container mt-5" style="margin-bottom: 200px; ">
    <div class="row">
        <div class="d-flex justify-content-center align-items-center mb-4">
            <div th:if="${user != null}">
                <h1>Olá,
                    <span class="text-danger"
                          th:text="${user.getUsername()}">
                                </span>
                </h1>
            </div>
        </div>

                <div class="d-flex flex-column justify-content-center align-items-center mb-4" th:if="${tasks == null ||
                tasks.isEmpty()} ">
                    <h4>Você não criou nenhuma tarefa!</h4>
                    <p>
                        <a href="/createtask" th:href="@{/api/v1/tasks/createtask}">Criar minha primeira tarefa.</a>
                    </p>
                </div>

                <div class="d-flex flex-column justify-content-center align-items-center mb-4" th:if="${!tasks.isEmpty() && tasks != null}">
                    <h4 class="mb-4">Aqui estão todas suas tarefas!</h4>
                    <h5 th:if="${tasks.size() == 1}" class="mb-4">
                        Você tem <span th:text="${tasks.size()}" class="text-danger"></span> tarefa cadastrada no sistema !
                    </h5>
                    <h5 th:if="${tasks.size() > 1}" class="mb-4">
                        Você tem <span th:text="${tasks.size()}" class="text-danger"></span> tarefas cadastradas no sistema !
                    </h5>
                    <p>
                        <a href="/" th:href="@{/generateReport}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Gerar relatório de tarefas!</a>
                    </p>
                </div>

                <div class="d-flex flex-column justify-content-center align-items-center mb-5" th:if="${tasks != null}"
                style="border-radius: 5px; width: 100%; border-bottom: 2px solid black;padding: 12px" th:each="task : ${tasks}">
                    <div class="d-flex justify-content-around align-items-center w-100 mb-2" th:if="${!task.getDone()}">
                        <a class="btn btn-primary" th:href="@{/api/v1/tasks/completetask/{taskId}/{userId}(taskId = ${task.getId()}, userId = ${user.getUserId()})}"
                           href="/profile">
                            <i class="bi bi-check2-all"></i> Completar Tarefa</a>

                        <a class="btn btn-warning" th:href="@{/api/v1/tasks/edittask/{taskId}/{userId}(taskId = ${task.getId()}, userId = ${user.getUserId()})}"
                           href="/api/v1/tasks/edittask">
                            <i class="bi bi-pen"></i> Editar Tarefa</a>

                        <a class="btn btn-danger" th:href="@{/api/v1/tasks/deletetask/{taskId}/{userId}(taskId = ${task.getId()}, userId = ${user.getUserId()})}"
                           href="/profile">
                            <i class="bi bi-archive"></i> Apagar Tarefa</a>
                    </div>


                    <div class="d-flex justify-content-between align-items-center w-100 bg-dark text-warning" style="border-bottom: 2px solid yellow; width: 100%; padding: 16px;"
                         th:if="${!task.getDone()}">
                        <h2 th:text="${task.getTitle()}"  class=" text-center">
                        </h2>
                        <p>Criada em: <span th:text="${task.getFormatDate(task.getCreatedAt())}"></span></p>
                        <p>Prevista para: <span th:text="${task.getFormatDate(task.getConvertedDate(task.expectedDate))}"></span></p>



                    </div>

                    <div class="d-flex justify-content-between align-items-center w-100 bg-dark  text-secondary" style="border-bottom: 2px solid rgb(128,128,128); width: 100%; padding: 16px;"
                    th:if="${task.getDone()}">
                        <h2 th:text="${task.getTitle()}" style="text-decoration: line-through"  class=" text-center">
                        </h2>
                        <p>Completa em
                            <span th:text="${task.getFormatDate(task.getCompletionDate())}"></span>
                        </p>
                        <p th:if="${task.getCompletedTaskOnTime}">A tarefa foi completa antes do prazo. Parabéns!</p>

                    </div>

                    <p th:text="${task.getDescription()}" style="padding: 20px; background-color: white; font-size: 20px" class="w-100">
                    </p>
                </div>
            </div>

    <div class="d-flex justify-content-around align-items-center w-100 mb-2">
        <a class="btn btn-primary"
           href="/profile" th:href="@{/api/v1/tasks/deletecompletedtasks/{userId}(
           userId = ${user.getUserId()})}">
            <i class="bi bi-trash3-fill"></i> Limpar tarefas concluídas</a>
    </div>

</div>

</body>
</html>

